theme = "tokyonight"

[editor]
line-number = "relative"
mouse = true
cursorline = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = true

